/* set fixed non-trivial inversion and hue rotation */
:root {
    --inversionFraction: 100%;
    --hueRotation: -180deg;
}

/* color-invert images */
.color-invertible {
    filter: invert(var(--inversionFraction)) hue-rotate(var(--hueRotation)) !important;
    -ms-filter: invert(var(--inversionFraction)) !important;
    -webkit-filter: invert(var(--inversionFraction)) hue-rotate(var(--hueRotation)) !important;
}

/* but disable for the two light themes */
.theme--documenter-light .color-invertible {
    filter: invert(0%) hue-rotate(0deg) !important;
    -ms-filter: invert(var(0%)) !important;
    -webkit-filter: invert(var(0%)) hue-rotate(0deg) !important;
}
.theme--catppuccin-latte .color-invertible {
    filter: invert(0%) hue-rotate(0deg) !important;
    -ms-filter: invert(var(0%)) !important;
    -webkit-filter: invert(var(0%)) hue-rotate(0deg) !important;
}
